
/* Reset some basic elements */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Simple styling for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding-bottom: 50px; /* Footer height */
}

/* Header and navigation styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

image1 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* Main content area */
main {
    padding: 20px;
    text-align: center;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Footer height */
    line-height: 50px; /* Center the text vertically */
}

/******************************************LOGIN STYLES*****************************************************
/* Style the form */
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form inputs */
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the form label */
label {
    display: block;
    margin: px 0;
}

/* Style the submit button */
button[type="register"],
button[type="login"] {
    width: 90%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
}
button[type="login"]:hover {
    background: #555;
}
button[type="register"]:hover {
    background: #555;
}
/* styling for projects.html **********************/
/* Inside your stylesheet.css */
.project {
    display: flex;
    flex-direction: column;
    width: 300px; /* adjust as needed */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* for a light border as seen in the image */
    border-radius: 5px; /* if you want rounded corners */
    background-color: #f9f9f9; /* for a light grey background */
}

.project-image img {
    width: 100%; /* makes the image responsive */
    height: auto; /* maintain aspect ratio */
    border-bottom: 1px solid #ccc; /* if you want a separator */
}

.project-description {
    padding: 10px;
}

.project-description h3 {
    margin-top: 0;
    color: #333;
}

.project-description p {
    color: #666;
    line-height: 1.5;
}
