
/* Reset some basic elements */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Simple styling for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding-bottom: 50px; /* Footer height */
}

/* Header and navigation styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

image1 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* Main content area */
main {
    padding: 20px;
    text-align: center;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Footer height */
    line-height: 50px; /* Center the text vertically */
}

/******************************************LOGIN STYLES*****************************************************
/* Style the form */
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form label */
label {
    display: block;
    margin: 10px 0;
}

/* Style the submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}
button[type="submit"]:hover {
    background: #555;
}
